# Virtual environments
.venv/
venv/
env/
*/.venv/
*/venv/
*/env/
purview_env/
*/purview_env/
adresss_extraction/adresss_extraction/

# Other
v3/output*/
v3/input*/
tmp/

# Python caches
__pycache__/
*.py[cod]

# macOS metadata
.DS_Store
*/.DS_Store
